/* Reset*/
@font-face {
  font-family: "SpaceGrotesk-Regular";
  src: url("./src/fonts/SpaceGrotesk-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 1s ease;
}

.ProjectMembers {
  background-color: #666;
  padding: 40px;
  border-radius: 10px;
  width: auto;
  color: white;
}

h1 {
  color: #4444f8;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bolder;
  font-family: "SpaceGrotesk-Regular", serif;
}

.member {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-family: "SpaceGrotesk-Regular", serif;
}

.member img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.details h2 {
  font-size: 1.7rem;
  font-weight: bolder;
}

.details p {
  font-size: 1.1rem;
  font-weight: bold;
}

.hidden {
  display: none;
}

#countdown {
  font-size: 10rem;
  color: #4444f8;
  text-align: center;
  font-family: "SpaceGrotesk-Regular", serif;
}

.body-white {
  background-color: white;
  align-items: normal;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 0px;
}

.scores {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 20px;
}

.scoreBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.scoreBox h3 {
  font-size: 0.8rem;
  color: black;
  margin-bottom: 0px;
  font-weight: bold;
  transition: all 0.4s ease-in;
}

.scoreBox p {
  font-size: 3rem;
  font-weight: lighter;
  color: black;
  margin-top: 0px;
}

#score {
  font-size: 4.5rem;
  color: #4caf50;
  font-weight: bold;
}

#time {
  color: #ff4444;
}

.gameBoard {
  position: relative;
  width: 350px;
  height: 350px;
  margin-bottom: 30px;
}

.hiddenH2 {
  opacity: 0;
  transition: opacity 1.2s ease;
}

#gameGrid {
}

.tile {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.blackTile {
  background-color: black;
  transition: all 0.5s ease;
}

#msg {
  position: absolute;
  font-size: 2rem;
  color: #d0d0ac;
  text-align: center;
  top: 40%;
  left: 0%;
  width: 100%;
  pointer-events: none;
}

.progressBarContainer {
  width: 350px;
  background-color: #4444f8;
  height: 10px;
  margin-top: 60px;
  border: 2px solid #000;
  overflow: hidden;
}

#progressBar {
  background-color: #6fcfff;
  width: 350px;
  height: 10px;
}

table {
  border: 1px solid pink;
  margin: auto;

  width: 400px;
  border-collapse: collapse;
}
tr {
  margin: 0;
  padding: 0;
}
td {
  width: 100px;
  height: 100px;
  border-collapse: collapse;
  border: 1px solid rgb(225, 185, 192);
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

td span {
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 2rem;
  color: #4caf50;
  pointer-events: none;
}

.black {
  background-color: #000;
  transition: all 0.45s ease;
}
.white {
  background-color: white;
}

.green {
  background-color: green;
  opacity: 0;
  transition: opacity 0.45s ease-out;
}

.visible {
  display: block;
}

span {
  text-align: center;
  font-size: large;
}

#newHigh {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  top: 35%;
  left: 0%;
  width: 100%;
  pointer-events: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#again {
  color: blue;
  font-size: 25px;
  font-weight: lighter;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 3s;
  position: fixed;
  bottom: -15px;
  left: 40%;
  transform: translateX(-50%);
  text-align: center;
}

.heartbeat {
  animation: heartbeat 1.2s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

#eagleImage.fly {
  display: block !important;
  width: 600px;
  top: 30%;
  right: -250px;
  animation: eagleFly 1.5s linear forwards;
}

@keyframes eagleFly {
  from {
    right: -250px;
    transform: scaleX(1);
  }
  to {
    right: 110%; /*To make image go outside of window*/
    transform: scaleX(1);
  }
}
